#network-section {
	text-align:center;
}

#middle-problem-network-frame {
	height:28em;
	width:auto;
}

#problem-focus-frame {
	display:inline-block;
	vertical-align:top;
	width:28em;
	height:100%;
    margin:0;
    padding:0;
}

#problem-focus-container {
	display:table-cell;
	position:relative;
	vertical-align:top;
	width:24em;
	height:100%;
	margin:auto;
}

#problem-focus-image {
	width:24em;
	height:auto;
	vertical-align:middle;
}

#problem-focus-label-container {
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
   	z-index:100;
    color:white;
    font-weight:bold;
    font-size:2.5em;
    height:6em;
    max-height:6em;
    width:85%;
	overflow:hidden;
}

#problem-focus-label {
	/*height:6em;*/
	max-height:6em;
}

.h-problem-icon-container {
    display:inline-block;
}

.v-problem-icon-container {
    display:table-cell;
}

.problem-icon {
    color:#1A1A1A;
    font-size:1.5em;
    margin:0.1em;
}

.add-problem-icon {
    color:#1A1A1A;
    font-size:1.5em;
    margin:0.25em;
}

.related-problem {
	display:inline-block;
	font-size:1em;
	white-space:normal;
}

.problem-link {
	color:#1A1A1A;
}

.h-problem {
    font-size:1em;
    line-height:1.1em;
    height:5.5em; /* 3 lines per problem name */
	overflow:hidden;
	margin-left:0.1em;
	margin-right:0.1em;
	resize:none;
}

.v-problem {
    font-size:1em;
    line-height:1.1em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.h-problem-link-container {
    height:3.5em; /* 3 lines per problem name */
    width:5.8em; /* 6em including margins in h-problem*/
    padding: 0.2em 0; /* allows gjpqy to extend below the line */
	overflow:hidden;
}

.v-problem-link-container {
	width:100%;
}

.h-problem-scroll-container {
	height:auto;
	width:100%;
}
.h-problem-scroll-container > span > a {
	display:none;
}
.h-problem-scroll-container:hover > span > a {
	display:block;
}

.v-problem-scroll-container {
	height:auto;
	width:auto;
}
.v-problem-scroll-container > div > span > a {
	display:none;
}
.v-problem-scroll-container:hover > div > span > a {
	display:block;
}

.v-problem-scroll {
	height:24em;
	width:10em;
    /*min-width:10em;*/
    /*max-width:20em;*/
	overflow-x:hidden;
	overflow-y:auto;
}

.h-problem-scroll {
	height:5.5em; /* 3 lines per problem name */
	width:24em;
	max-width:48em; /* preserves structure on hover when expanded */
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
	resize:horizontal;
}

.v-arrow-container {
	height:2em;
	width:100%;
}

.h-connection-category {
    font-size:2em;
    text-align:center;
}

.relation-label {
	font-size:2em;
	/*margin-top:0.25em;*/
	/*margin-bottom:0.25em;*/
}

.broader-problem-label {
	font-size:2em;
	margin-bottom:0.25em;
}

.narrower-problem-label {
	font-size:2em;
	margin-top:0.25em;
}

.v-problem-section {
	display:inline-block;
	height:100%;
	width:auto;
}

.v-label-container {
	max-width:2em;
	height:100%;
	vertical-align:middle;
	padding-right:0;
}

.v-problem-list-frame {
	height:100%;
	width:auto;
}

.broader-connector {
	border-bottom: 0.2em solid #1A1A1A;
}

.broader-connector-left {
	display:inline-block;
	width:12em;
	height:2em;
	vertical-align:bottom;
	border-right: 0.2em solid #1A1A1A;
}

.broader-connector-right {
	display:inline-block;
	width:12em;
	height:2em;
	vertical-align:bottom;
	border-left: 0.2em solid #1A1A1A;
}

.narrower-connector {
	border-top: 0.2em solid #1A1A1A;
}

.narrower-connector-left {
	display:inline-block;
	width:12em;
	height:2em;
	vertical-align:bottom;
	border-right: 0.2em solid #1A1A1A;
}

.narrower-connector-right {
	display:inline-block;
	width:12em;
	height:2em;
	vertical-align:bottom;
	border-left: 0.2em solid #1A1A1A;
}

.driver-connector {
    border-right: 0.2em solid #1A1A1A;
    text-align:right;
}

.driver-connector-top {
	width:2em;
	height:12em;
	text-align:right;
	border-bottom: 0.2em solid #1A1A1A;
}

.driver-connector-bottom {
	width:2em;
	height:12em;
	text-align:right;
	border-top: 0.2em solid #1A1A1A;
}

.impact-connector {
    border-left: 0.2em solid #1A1A1A;
    text-align:left;
}

.impact-connector-top {
	width:2em;
	height:12em;
	text-align:left;
	border-bottom: 0.2em solid #1A1A1A;
}

.impact-connector-bottom {
	width:2em;
	height:12em;
	text-align:left;
	border-top: 0.2em solid #1A1A1A;
}

.rotate-drivers {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 100% 90%;
  -moz-transform-origin: 100% 90%;
  -ms-transform-origin: 100% 90%;
  -o-transform-origin: 100% 90%;
  transform-origin: 100% 90%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotate-impacts {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 120% 10%;
  -moz-transform-origin: 120% 10%;
  -ms-transform-origin: 120% 10%;
  -o-transform-origin: 120% 10%;
  transform-origin: 120% 10%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}