# ----------------------------------------------------------------------
# Vagrant
.vagrant
Vagrantfile

# ----------------------------------------------------------------------
# Git
# ----------------------------------------------------------------------
.git
.gitignore

# ----------------------------------------------------------------------
# Ansible
# ----------------------------------------------------------------------
ansible.cfg
ansible_hosts
*.retry

# ----------------------------------------------------------------------
# Docker
# ----------------------------------------------------------------------
Dockerfile
.dockerignore
docker-compose*

# ----------------------------------------------------------------------
# Repo
# ----------------------------------------------------------------------
*.pyc
__pycache__
.eggs/
.cache/
.coverage/
.*.yml
