apipkg==1.4
appnope==0.1.0
blinker==1.4
coverage==4.0.3
decorator==4.0.9
detox==0.10.0
docopt==0.6.2
dominate==2.1.17
eventlet==0.18.4
execnet==1.4.1
fancycompleter==0.4
flake8==2.5.4
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
future==0.15.2
gnureadline==6.3.3
greenlet==0.4.9
-e git+git@github.com:IntertwineIO/platform.git@91df172fa1c9c56838e3b79deee1e41d14fa88c1#egg=intertwine
ipdb==0.9.0
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mccabe==0.4.0
ordereddict==1.1
passlib==1.6.5
path.py==8.1.2
pdbpp==0.8.3
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.6
pluggy==0.3.1
ptyprocess==0.5.1
py==1.4.31
pyflakes==1.0.0
Pygments==2.1.3
pyrepl==0.8.4
pytest==2.9.0
pytest-cache==1.0
pytest-cov==2.2.1
pytest-flake8==0.2
pytest-xdist==1.14
PyYAML==3.11
simplegeneric==0.8.1
SQLAlchemy==1.0.12
titlecase==0.8.1
tox==2.3.1
traitlets==4.1.0
urlnorm==1.1.3
virtualenv==14.0.6
visitor==0.1.2
Werkzeug==0.11.4
wheel==0.29.0
wmctrl==0.3
WTForms==2.1
