alchy==2.2.2
docopt==0.6.2
Faker==0.8.13
flask==1.0.2
flask-bootstrap==3.3.7.1
flask-restful==0.3.6
flask-security==3.0.0
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
future==0.16.0
mock==2.0.0
pendulum==2.0.4
pytest==4.5.0
pytest-flake8==1.0.4
requests==2.19.1
SQLAlchemy==1.2.7
timezonefinder==2.1.2
titlecase==0.12.0
url-normalize==1.3.3
werkzeug==0.15.5
wrapt==1.10.11
