{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='problems/static/css/reset.css') }}"
      rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='problems/static/css/general.css') }}"
      rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='problems/static/css/network.css') }}"
      rel="stylesheet" type="text/css">
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Uncomment below for debugging --
<style>
  #network-section {background:white;}
  div:nth-child(1) {background:crimson;}
  div:nth-child(2) {background:coral;}
  div:nth-child(3) {background:gold;}
  div:nth-child(4) {background:khaki;}
  span:nth-child(1) {background:cornflowerblue;}
  span:nth-child(2) {background:cyan;}
  span:nth-child(3) {background:lightseagreen;}
  span:nth-child(4) {background:palegreen;}
</style>
<!-- -->
{% endblock %}

{% block content %}
<header>
    <div class="v-large-spacer">a</div>
    <div class="v-large-spacer">a</div>
    <div class="section-label"><h1>{{ problem.name }}</h1></div><div class="section-scope"><h2> in Austin, TX </h2></div>
    <h4 class="section-tagline"> An open innovation space sponsored by the Urban Institute </h4>
</header>
<section>
    <div id="network-section">
    <div class="relation-label v-align-outer">
      <span class="side-buffer v-align-inner">
      </span><!-- this comment is a hack to get rid of the newline between spans
   --><span class="v-align-inner">
        <h3>Broader</h3>
      </span><!-- this comment is a hack to get rid of the newline between spans
   --><span class="side-buffer v-align-inner h-align-inner-left">
        <!-- add problem connection -->
        <!--a href=""><img class="xx-small-icon h-medium-spacer" style="vertical-align:top" src="{{ url_for('static', filename='problems/static/images/add_node_48x48.png') }}"/></a-->
      </span>
    </div>

    <div class="h-align-outer">
      <span class="side-buffer v-align-inner"></span>
      <span class="h-problem-scroll-container">
        <span class="v-align-inner"><a href=""><div class="arrow-left h-large-spacer"></div></a></span>
        <span class="h-align-inner v-align-inner-bottom">
          <div class="h-problem-scroll broader-problem-connector">
          {% for connection in problem.broader.all() %}
            <span class="related-problem h-problem v-align-outer">
            <!-- link to related problem page from text and node icon -->
                <div class="h-problem-link-container v-align-inner-bottom"><a href="/problems/{{ connection.broader.derive_key() }}" class="problem-link"><h4>{{ connection.broader.name }}</h4></a></div>
            <a href="/problems/{{ connection.broader.derive_key() }}"><img class="related-problem-icon v-medium-spacer" src="{{ url_for('static', filename='problems/static/images/node_48x48.png') }}"/></a>
          </span><!-- this comment is a hack to get rid of the newline between spans
       -->{% endfor %}

          </div>
          </span>
        <span class="v-align-inner"><a href=""><div class="arrow-right h-large-spacer"></div></a></span>
      </span>
      <span class="side-buffer v-align-inner">
      </span>
    </div>

    <div id="middle-problem-network-frame">
      <span class="v-problem-section v-align-outer">
        <span class="v-label-container h-align-inner">
          <div class="relation-label rotate-drivers"><h3>Drivers</h3></div>
        </span>

        <span class="v-problem-list-frame v-align-inner">

          <div class="v-problem-scroll-container h-align-inner-right">
            <div class="v-arrow-container h-align-outer">
              <span class="v-align-inner h-align-inner">
                <a href=""><div class="arrow-up v-large-spacer"></div></a>
              </span>
            </div>

            <div class="v-ghost-center-before v-problem-scroll driver-problem-connector">
              <div>
              {% for connection in problem.drivers.all() %}
                <div class="related-problem v-problem">
                  <span class="v-align-inner v-problem-link-container"><a href="/problems/{{ connection.driver.derive_key() }}" class="problem-link"><h4> {{ connection.driver.name }} </h4></a></span><!-- this comment is a hack to get rid of the newline between spans
               --><span class="v-align-inner"><a href="/problems/{{ connection.driver.derive_key() }}"><img class="related-problem-icon h-medium-spacer" style="float:right" src="{{ url_for('static', filename='problems/static/images/node_48x48.png') }}"/></a></span>
                </div>
              {% endfor %}
              </div>
            </div>
            <div class="v-arrow-container h-align-outer">
              <span class="v-align-inner h-align-inner">
                <a href=""><div class="arrow-down v-large-spacer"></div></a>
              </span>
            </div>
          </div>

        </span>
      </span><!-- this comment is a hack to get rid of the newline between spans
   --><span id="problem-focus-frame" class="v-align-outer">

        <div class="h-align-outer">
          <div class="h-align-inner">
            <span class="broader-problem-connector-left"></span><!-- this comment is a hack to get rid of the newline between spans
         --><span class="broader-problem-connector-right"></span>
          </div>
        </div>

        <div class="h-align-outer">
          <span class="h-align-inner-left">
            <div class="driver-problem-connector-top"></div>
            <div class="driver-problem-connector-bottom"></div>
          </span><!-- this comment is a hack to get rid of the newline between spans
       --><span id="problem-focus-container">
            <img id="problem-focus-image" src="{{ url_for('static', filename='problems/static/images/center_node_512x512.png') }}">
            <div id="problem-focus-label-container" class="v-align-outer">
              <div id="problem-focus-label" class="v-align-inner">
                <h1>{{ problem.name }}<h1>
              </div>
            </div>
          </span><!-- this comment is a hack to get rid of the newline between spans
       --><span class="h-align-inner">
            <div class="downstream-problem-connector-top"></div>
            <div class="downstream-problem-connector-bottom"></div>
          </span>
        </div>

        <div class="h-align-outer">
          <div class="h-align-inner">
            <span class="narrower-problem-connector-left"></span><!-- this comment is a hack to get rid of the newline between spans
         --><span class="narrower-problem-connector-right"></span>
          </div>
        </div>

      </span><!-- this comment is a hack to get rid of the newline between spans
   --><span class="v-problem-section v-align-outer">
        <span class="v-problem-list-frame v-align-inner">

          <div class="v-problem-scroll-container h-align-inner-left">
            <div class="v-arrow-container h-align-outer">
              <span class="v-align-inner h-align-inner">
                <a href=""><div class="arrow-up v-large-spacer"></div></a>
              </span>
            </div>

            <div class="v-ghost-center-after v-problem-scroll downstream-problem-connector">
              <div>
              {% for connection in problem.impacts.all() %}
                <div class="related-problem v-problem">
                  <span class="v-align-inner"><a href="/problems/{{ connection.impact.derive_key() }}"><img class="related-problem-icon h-medium-spacer" src="{{ url_for('static', filename='problems/static/images/node_48x48.png') }}"/></h4></a></span><!-- this comment is a hack to get rid of the newline between spans
               --><span class="v-problem-link-container v-align-inner"><a href="/problems/{{ connection.impact.derive_key() }}" class="problem-link"><h4>{{ connection.impact.name }}</a></span>
                </div>
              {% endfor %}
              </div>
            </div>

            <div class="v-arrow-container h-align-outer">
              <span class="v-align-inner h-align-inner">
                <a href=""><div class="arrow-down v-large-spacer"></div></a>
              </span>
            </div>
          </div>

        </span>
        <span class="v-label-container h-align-inner">
          <div class="relation-label rotate-impacts"><h3>Impacts</h3>
          </div>
        </span>
      </span>

    </div>

    <div class="h-align-outer">
      <span class="side-buffer v-align-inner"></span>
      <div class="h-problem-scroll-container h-align-outer">
        <span class="v-align-inner"><a href=""><div class="arrow-left h-large-spacer"></div></a></span>
        <div class="h-align-inner v-align-inner-top">
          <div class="h-problem-scroll narrower-problem-connector">
          {% for connection in problem.narrower.all() %}
            <span class="related-problem h-problem v-align-outer">
              <a href="/problems/{{ connection.narrower.derive_key() }}"><img class="related-problem-icon v-medium-spacer" src="{{ url_for('static', filename='problems/static/images/node_48x48.png') }}"/></a>
              <div class="h-problem-link-container v-align-inner-top"><a href="/problems/{{ connection.narrower.derive_key() }}" class="problem-link"><h4>{{ connection.narrower.name }}</h4></a></div>
            </span><!-- this comment is a hack to get rid of the newline between spans
       -->{% endfor %}

          </div>
        </div>
        <span class="v-align-inner"><a href=""><div class="arrow-right h-large-spacer"></div></a></span>
      </div>
      <span class="side-buffer v-align-inner"></span>
    </div>

    <div class="relation-label v-align-outer">
      <span class="side-buffer v-align-inner">
      </span><!-- this comment is a hack to get rid of the newline between spans
   --><span class="v-align-inner">
        <h3>Narrower</h3>
      </span><!-- this comment is a hack to get rid of the newline between spans
   --><span class="side-buffer v-align-inner h-align-inner-left">
        <!-- add problem connection -->
        <!--a href=""><img class="xx-small-icon h-medium-spacer" style="vertical-align:top" src="{{ url_for('static', filename='problems/static/images/add_node_48x48.png') }}"/></a-->
      </span>
    </div>

  </div>
</section> <!-- end network section -->



{% endblock %}
