# echo ".envrc called"
if [ -s ~/.bash_aliases ]; then source ~/.bash_aliases; fi

path_extend() {
    if [ -d "$1" ]; then
        val=${1:-" "};
        script="import os; env = os.environ; path = env['PATH'].split(':'); path.append('$val' if '$val' not in path else ''); path=':'.join(p for p in path if p.strip()); print(path)";
        new_path=$(python -c "$script");
        # echo "----------------------------------------"
        # echo " Adding: $1"
        # echo "----------------------------------------"
        # echo "before: $PATH"
        PATH=$new_path;
        # echo " after: $PATH"
        # echo "----------------------------------------"
        export PATH;
    fi
}


path_insert() {
    if [ -d "$1" ]; then
        val=${1:-" "};
        script="import os; env = os.environ; path = env['PATH'].split(':'); path.insert(0, '$val' if '$val' not in path else ''); path=':'.join(p for p in path if p.strip()); print(path)";
        new_path=$(python -c "$script");
        # echo "----------------------------------------"
        # echo " Inserting: $1"
        # echo "----------------------------------------"
        # echo "before: $PATH"
        PATH=$new_path;
        # echo " after: $PATH"
        # echo "----------------------------------------"
        export PATH;
    fi
}

export EDITOR=vim
export PYTHONDONTWRITEBYTECODE=1

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# -----------------------------------------------------------------------------
# Virtual Environment Wrapper
# -----------------------------------------------------------------------------
export WORKON_HOME=~/.envs
if [ -e /usr/local/bin/virtualenvwrapper.sh ] ; then
    source /usr/local/bin/virtualenvwrapper.sh;
fi;

# -----------------------------------------------------------------------------
# Tmux and Virtual Environments
# -----------------------------------------------------------------------------
if [[ -n "$TMUX" ]] && [[ -n "$VIRTUAL_ENV" ]] ; then
    unset VIRTUALENV
fi;
