{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('main.static', filename='css/normalize.css') }}"
      rel="stylesheet" type="text/css">
<link href="{{ url_for('main.static', filename='css/general.css') }}"
      rel="stylesheet" type="text/css">
<link href="{{ url_for('main.static', filename='css/problems.css') }}"
      rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="nav-spacer"></div>
<header>
    <h1>
        <span class="page-title">Problems</span>
    </h1>
    <span class="page-tagline"> An open innovation space sponsored by the Urban Institute </span>
</header>

<section id="problem-list-section">
    <div class="indent">
        {% for problem in problems %}
        <div class="problem-name"><p><a href={{ problem.derive_key() }}> {{ problem.name }} </a></p></div>
        {% endfor %}
    </div>
</section>
{% endblock %}
