{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('communities.static', filename='css/normalize.css') }}"
      rel="stylesheet" type="text/css">
<link href="{{ url_for('communities.static', filename='css/general.css') }}"
      rel="stylesheet" type="text/css">
<link href="{{ url_for('communities.static', filename='css/network.css') }}"
      rel="stylesheet" type="text/css">
<!-- <link href="{{ url_for('static', filename='css/network.scss.css') }}"
      rel="stylesheet" type="text/css">-->
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Uncomment below for debugging --
<style>
  #network-section {background:white;}
  div:nth-child(1) {background:crimson;}
  div:nth-child(2) {background:tomato;}
  div:nth-child(3) {background:salmon;}
  div:nth-child(4) {background:goldenrod;}
  div:nth-child(5) {background:gold;}
  div:nth-child(6) {background:khaki;}
  span:nth-child(1) {background:cornflowerblue;}
  span:nth-child(2) {background:cyan;}
  span:nth-child(3) {background:lightseagreen;}
  span:nth-child(4) {background:palegreen;}
</style>
<!-- -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('communities.static', filename='js/source/network.js') }}"></script>
{% endblock %}

{% block content %}

{% set root_key = payload['root_key'] %}
{% set community = payload[root_key] %}
{% set problem = payload[community['problem']] %}
{% set org = community['org'] %}
{% set geo = payload[community['geo']] %}
{% set aggregate_ratings = community['aggregate_ratings'] %}

<div class="nav-spacer"></div>
<header>
    <h1>
        <span class="page-title">{{ problem['name'] }}</span>
        {% if org %}
        <span class="page-scope">at {{ org }}</span>
        {% endif %}
        {% if geo %}
        <span class="page-scope">in {{ geo['display'] }}</span>
        {% endif %}
    </h1>
    <div class="page-tagline">
        <span>An open innovation space sponsored by</span>
        {% if problem['sponsor'] %}
        <span>{{ problem['sponsor'] }}</span>
        {% else %}
        <span>Intertwine</span>
        {% endif %}
    </div>
</header>
<section id="network-section">
    <div class="h-connection-label-container">
        <i class="fa fa-circle add-connection-icon invisible"></i>
        <div class="connection-label">Broader</div>
        <a id="add-broader-connection" href=#>
            <i class="fa fa-plus-circle add-connection-icon"></i>
        </a>
    </div>
    <div class="h-problem-area">
        <div class="v-margin"></div>
        <div class="h-arrow-container">
            <a href=""><div class="arrow-left h-large-spacer"></div></a>
        </div>
        <div class="h-problem-scroll-container">
            <div id="broader-scroll" class="h-problem-scroll broader-edge">
            {% for aggregate_rating_key in aggregate_ratings['broader'] %}
                {% set aggregate_rating = payload[aggregate_rating_key] %}
                <div class="h-problem broader-problem">
                    <div class="h-problem-link-container word-break">
                        <a href="{{ aggregate_rating['adjacent_community_uri'] }}" class="problem-link">
                            {{ aggregate_rating['adjacent_problem_name'] }}
                            ({{ '{:.1f}'.format(aggregate_rating['rating']) }})
                        </a>
                    </div>
                    <a href="{{ aggregate_rating['adjacent_community_uri'] }}">
                        <i class="fa fa-circle problem-icon broader-icon"></i>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="h-arrow-container">
            <a href=""><div class="arrow-right h-large-spacer"></div></a>
        </div>
        <div class="v-margin"></div>
    </div>
    <div class="middle-network-area">
        <div class="v-margin"></div>
        <div class="v-connection-label-container">
            <a id="add-driver-connection" href=#>
                <i class="fa fa-plus-circle add-connection-icon"></i>
            </a>
            <div class="connection-label rotate-drivers">
                Drivers
            </div>
            <i class="fa fa-circle add-connection-icon invisible"></i>
        </div>
        <div class="v-problem-area">
            <div class="v-arrow-container">
                <a href=""><div class="arrow-up v-large-spacer"></div></a>
            </div>
            <div class="v-problem-scroll-container">
                <div id="driver-scroll" class="v-problem-scroll driver-scroll driver-edge">
                {% for aggregate_rating_key in aggregate_ratings['drivers'] %}
                    {% set aggregate_rating = payload[aggregate_rating_key] %}
                    <div class="v-problem">
                        <div class="v-problem-link-container v-align-inner word-break">
                            <a href="{{ aggregate_rating['adjacent_community_uri'] }}" class="problem-link">
                                {{ aggregate_rating['adjacent_problem_name'] }}
                                ({{ '{:.1f}'.format(aggregate_rating['rating']) }})
                            </a>
                        </div>
                        <div class="v-align-inner">
                            <a href="{{ aggregate_rating['adjacent_community_uri'] }}">
                                <i class="fa fa-circle problem-icon driver-icon"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="v-arrow-container">
                <a href=""><div class="arrow-down v-large-spacer"></div></a>
            </div>
        </div>
        <div id="center-network-area">
            <!-- <div class="v-connector"> -->
                <!-- <div class="v-connector-left"></div> -->
                <!-- <div class="v-connector-right"></div> -->
            <!-- </div> -->
            <div class="problem-focus-container">
                <div class="problem-focus-label-container">
                    <!-- <div > -->
                        <a href="" class="problem-focus-label word-break">{{ problem['name'] }}</a>
                    <!-- </div> -->
                </div>
                <a href=""><i class="fa fa-circle problem-focus-icon"></i></a>
            </div>
            <!-- <div class="v-connector"> -->
                <!-- <div class="v-connector-left"></div> -->
                <!-- <div class="v-connector-right"></div> -->
            <!-- </div> -->
        </div>
        <div class="v-problem-area">
            <div class="v-arrow-container">
                <a href=""><div class="arrow-up v-large-spacer"></div></a>
            </div>
            <div class="v-problem-scroll-container">
                <div id="impact-scroll" class="v-problem-scroll impact-scroll impact-edge">
                {% for aggregate_rating_key in aggregate_ratings['impacts'] %}
                    {% set aggregate_rating = payload[aggregate_rating_key] %}
                    <div class="v-problem">
                        <div class="v-align-inner">
                            <a href="{{ aggregate_rating['adjacent_community_uri'] }}">
                                <i class="fa fa-circle problem-icon impact-icon"></i>
                            </a>
                        </div>
                        <div class="v-problem-link-container v-align-inner word-break">
                            <a href="{{ aggregate_rating['adjacent_community_uri'] }}" class="problem-link">
                                {{ aggregate_rating['adjacent_problem_name'] }}
                                ({{ '{:.1f}'.format(aggregate_rating['rating']) }})
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="v-arrow-container">
                <a href=""><div class="arrow-down v-large-spacer"></div></a>
            </div>
        </div>
        <div class="v-connection-label-container">
            <a id="add-impact-connection" href=#>
                <i class="fa fa-plus-circle add-connection-icon"></i>
            </a>
            <div class="v-connection-label-container">
                <div class="connection-label rotate-impacts">Impacts</div>
            </div>
            <i class="fa fa-circle add-connection-icon invisible"></i>
        </div>
        <div class="v-margin"></div>
    </div>
    <div class="h-problem-area">
        <div class="v-margin"></div>
        <div class="h-arrow-container">
            <a href=""><div class="arrow-left h-large-spacer"></div></a>
        </div>
        <div class="h-problem-scroll-container">
            <div id="narrower-scroll" class="h-problem-scroll narrower-scroll narrower-edge">
            {% for aggregate_rating_key in aggregate_ratings['narrower'] %}
                {% set aggregate_rating = payload[aggregate_rating_key] %}
                <div class="h-problem narrower-problem">
                    <a href="{{ aggregate_rating['adjacent_community_uri'] }}">
                        <i class="fa fa-circle problem-icon narrower-icon"></i>
                    </a>
                    <div class="h-problem-link-container word-break">
                        <a href="{{ aggregate_rating['adjacent_community_uri'] }}" class="problem-link">
                            {{ aggregate_rating['adjacent_problem_name'] }}
                            ({{ '{:.1f}'.format(aggregate_rating['rating']) }})
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="h-arrow-container">
            <a href=""><div class="arrow-right h-large-spacer"></div></a>
        </div>
        <div class="v-margin"></div>
    </div>
    <div class="h-connection-label-container">
        <i class="fa fa-circle add-connection-icon invisible"></i>
        <div class="connection-label">Narrower</div>
        <a id="add-narrower-connection" href=#>
            <i class="fa fa-plus-circle add-connection-icon"></i>
        </a>
    </div>
    <input id="payload" type="hidden" value='{{ payload|tojson }}'>
</section> <!-- end network section -->

{% endblock %}
